python-dotenv~=1.0.1
urllib3==1.26.15
pyTelegramBotAPI
telebot-calendar
sqlalchemy
fastapi==0.104.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2
regex==2023.3.23
requests==2.28.2
alembic==1.13.1
asyncpg==0.29.0
bcrypt==4.1.2
email_validator==2.1.1
uvicorn==0.29.0
